@import url("https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@latest/dist/jquery.fancybox.min.css");
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}/*# sourceMappingURL=normalize.min.css.map */
html {
  height: 100%;
  font-size: 20px;
}
body {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  background: #fff;
  color: #4c4948;
  font-size: 14px;
  font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #49b1f5;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0.2rem 0;
  color: #344c67;
  font-weight: bold;
}
#content-outer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content-inner .img-alt {
  text-decoration: none;
}
#toggle-sidebar {
  position: fixed;
  bottom: 20px;
  left: 16px;
  z-index: 100;
  font-size: 16px;
  cursor: pointer;
}
#go-up {
  position: fixed;
  right: -16px;
  bottom: 20px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
}
.fancybox-caption {
  text-align: center;
}
.fireworks {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}
hr {
  position: relative;
  margin: 2rem auto;
  width: calc(100% - 4px);
  border: 2px dashed #a4d8fa;
  background: #fff;
}
hr:hover:before {
  left: calc(95% - 20px);
}
hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #49b1f5;
  content: "\f0c4";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
details {
  padding: 0.3rem;
  border: 2px solid #d6d6d6;
}
details summary {
  color: #49b1f5;
}
.not-code {
  margin: 0.5em;
  padding: 0.5em;
  border: thin #c0c0c0 solid;
  text-align: center;
}
table {
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table thead {
  background: rgba(153,169,191,0.1);
}
table th,
table td {
  padding: 0.3rem 0.6rem;
  border: 1px solid #d6d6d6;
  vertical-align: top;
}
*::selection {
  background: #00c4b6;
  color: #f7f7f7;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
@media screen and (max-width: 1024px) {
  i#toggle-sidebar,
  #sidebar {
    display: none;
  }
  body {
    padding-left: 0 !important;
  }
}
.article-container pre,
.article-container .highlight {
  overflow: auto;
  margin: 1rem 0;
  padding: 0;
  padding-top: 1.4rem;
  background: #f6f8fa;
  color: #90a4ae;
  font-size: 14px;
  line-height: 20px;
  counter-reset: line;
  white-space: pre-wrap;
}
figure.highlight {
  position: relative;
}
blockquote {
  margin: 0;
  padding: 0 0.6rem;
  border-left: 0.2rem solid #dfe2e5;
  color: #6a737d;
}
.article-container pre,
.article-container code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number !important;
}
.article-container code {
  padding: 0.1rem 0.2rem;
  background: rgba(27,31,35,0.05);
  color: #1f2d3d;
  word-wrap: break-word;
  font-size: 14px;
}
.article-container pre code {
  padding: 0;
  background: none;
  color: #90a4ae;
  text-shadow: none;
}
.article-container .highlight {
  position: relative;
  border-radius: 1px;
}
.article-container .highlight:after {
  position: absolute;
  top: 0;
  z-index: 0;
  min-width: 100%;
  height: 1.4rem;
  background: #e6ebf1;
  content: "";
}
.article-container .highlight pre {
  margin: 0;
  padding: 8px 0;
  border: none;
}
.article-container .highlight .line::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container .highlight .line:before {
  display: inline-block;
  padding: 0 0.3rem 0 0;
  min-width: 1.6rem;
  color: #cfd8dc;
  content: counter(line);
  counter-increment: line;
  text-align: center;
}
.article-container .highlight table {
  position: relative;
  margin: 0;
  width: auto;
  border: none;
}
.article-container .highlight table:after {
  position: absolute;
  top: -1.4rem;
  z-index: 0;
  width: 100%;
  height: 1.4rem;
  background: #e6ebf1;
  content: "";
}
.article-container .highlight td {
  padding: 0;
  border: none;
}
.article-container .highlight figcaption {
  zoom: 1;
  position: absolute;
  z-index: 1;
  margin-bottom: 1em;
  padding: 0.2em 0 0.2em 0.7rem;
  width: 100%;
  height: 1.4em;
  color: #90a4ae;
  font-size: 1em;
  line-height: 1em;
}
.article-container .highlight figcaption:before,
.article-container .highlight figcaption:after {
  content: "";
  display: table;
}
.article-container .highlight figcaption:after {
  clear: both;
}
.article-container .highlight figcaption span {
  float: left;
  overflow: hidden;
  max-width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-container .highlight figcaption a {
  float: right;
  padding-right: 10px;
  color: #90a4ae;
}
.article-container .highlight figcaption a:hover {
  border-bottom-color: #90a4ae;
}
.article-container .highlight figcaption+table {
  margin-top: 1em;
}
.article-container .highlight figcaption+table:before {
  margin-top: -2.1rem;
}
.article-container .highlight figcaption+table:after {
  top: -2.1rem;
}
.article-container .highlight .gutter pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #f6f8fa;
  color: #cfd8dc;
  text-align: right;
}
.article-container .highlight .code pre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  background-color: #f6f8fa;
}
.article-container .highlight .line {
  height: 1rem;
}
.article-container .gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.article-container .gist table {
  width: auto;
}
.article-container .gist table td {
  border: none;
}
.article-container pre .deletion {
  background: #fdd;
}
.article-container pre .addition {
  background: #dfd;
}
.article-container pre .meta {
  color: #7c4dff;
}
.article-container pre .comment {
  color: rgba(144,164,174,0.565);
}
.article-container pre .comment::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .variable,
.article-container pre .attribute,
.article-container pre .regexp,
.article-container pre .ruby .constant,
.article-container pre .xml .tag .title,
.article-container pre .xml .pi,
.article-container pre .xml .doctype,
.article-container pre .html .doctype,
.article-container pre .css .id,
.article-container pre .tag .name,
.article-container pre .css .class,
.article-container pre .css .pseudo {
  color: #e53935;
}
.article-container pre .variable::selection,
.article-container pre .attribute::selection,
.article-container pre .regexp::selection,
.article-container pre .ruby .constant::selection,
.article-container pre .xml .tag .title::selection,
.article-container pre .xml .pi::selection,
.article-container pre .xml .doctype::selection,
.article-container pre .html .doctype::selection,
.article-container pre .css .id::selection,
.article-container pre .tag .name::selection,
.article-container pre .css .class::selection,
.article-container pre .css .pseudo::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .tag {
  color: #39adb5;
}
.article-container pre .tag::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .number,
.article-container pre .preprocessor,
.article-container pre .literal,
.article-container pre .params,
.article-container pre .constant,
.article-container pre .command {
  color: #f76d47;
}
.article-container pre .number::selection,
.article-container pre .preprocessor::selection,
.article-container pre .literal::selection,
.article-container pre .params::selection,
.article-container pre .constant::selection,
.article-container pre .command::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .built_in {
  color: #ffb62c;
}
.article-container pre .built_in::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .ruby .class .title,
.article-container pre .css .rules .attribute,
.article-container pre .string,
.article-container pre .value,
.article-container pre .inheritance,
.article-container pre .header,
.article-container pre .ruby .symbol,
.article-container pre .xml .cdata,
.article-container pre .special,
.article-container pre .number,
.article-container pre .formula {
  color: #91b859;
}
.article-container pre .ruby .class .title::selection,
.article-container pre .css .rules .attribute::selection,
.article-container pre .string::selection,
.article-container pre .value::selection,
.article-container pre .inheritance::selection,
.article-container pre .header::selection,
.article-container pre .ruby .symbol::selection,
.article-container pre .xml .cdata::selection,
.article-container pre .special::selection,
.article-container pre .number::selection,
.article-container pre .formula::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .keyword,
.article-container pre .title,
.article-container pre .css .hexcolor {
  color: #39adb5;
}
.article-container pre .keyword::selection,
.article-container pre .title::selection,
.article-container pre .css .hexcolor::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .function,
.article-container pre .python .decorator,
.article-container pre .python .title,
.article-container pre .ruby .function .title,
.article-container pre .ruby .title .keyword,
.article-container pre .perl .sub,
.article-container pre .javascript .title,
.article-container pre .coffeescript .title {
  color: #6182b8;
}
.article-container pre .function::selection,
.article-container pre .python .decorator::selection,
.article-container pre .python .title::selection,
.article-container pre .ruby .function .title::selection,
.article-container pre .ruby .title .keyword::selection,
.article-container pre .perl .sub::selection,
.article-container pre .javascript .title::selection,
.article-container pre .coffeescript .title::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
.article-container pre .tag .attr,
.article-container pre .javascript .function {
  color: #7c4dff;
}
.article-container pre .tag .attr::selection,
.article-container pre .javascript .function::selection {
  background: rgba(128,203,196,0.251);
  color: #90a4ae;
}
#disqus_thread {
  margin-top: 1rem;
}
footer {
  margin-top: 1rem;
  background: #49b1f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23a4d8fa' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  background-attachment: fixed;
}
footer.footer-bg {
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
footer.is-mobile {
  background-attachment: local;
}
#footer {
  padding: 2rem 1rem;
  color: #eee;
  text-align: center;
}
#footer a {
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}
#footer a:hover {
  color: #fff;
}
#footer .footer-separator {
  margin: 0 0.2rem;
}
#busuanzi_value_site_uv,
#busuanzi_value_site_pv,
#busuanzi_value_page_pv {
  margin-left: 0.2rem;
}
#nav {
  position: relative;
  margin-bottom: 1rem;
  background-color: #49b1f5;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#nav.no-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23a4d8fa' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E") !important;
  -webkit-background-size: initial;
  -moz-background-size: initial;
  background-size: initial;
}
#nav.is-mobile {
  background-attachment: local;
}
#site-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1rem;
  height: 60vh;
}
#site-title,
#site-sub-title {
  color: #eee;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  line-height: 1.5;
}
#site-title {
  font-weight: bold;
  font-size: 1.3rem;
}
#site-sub-title {
  font-size: 0.8rem;
}
#site-social-icons {
  margin: 0 auto;
  width: 15rem;
  text-align: center;
}
#site-social-icons .social-icon {
  margin: 0 0.5rem;
  color: #eee;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-size: 1.4rem;
  cursor: pointer;
}
#site-social-icons .social-icon:hover {
  color: #fff;
}
#page-header {
  position: absolute;
  top: 0;
  z-index: 99;
  padding: 10px 36px;
  width: 100%;
  border: none;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#page-header .toggle-menu {
  display: none;
  padding-top: 0.5rem;
  color: #eee;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#page-header .toggle-menu:hover {
  color: #fff;
}
#page-header a {
  color: #eee;
  text-decoration: none;
}
#page-header a:hover {
  color: #fff;
}
#page-header .site-page {
  position: relative;
  margin-left: 0.6rem;
  padding-bottom: 0.3rem;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.3);
  font-size: 0.7rem;
  cursor: pointer;
}
#page-header .site-page::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 3px;
  background-color: #80c8f8;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#page-header .site-page:hover::after {
  width: 100%;
}
#page-header.fixed {
  position: fixed;
  top: -56px;
  z-index: 101;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
  box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
#page-header.fixed.open-sidebar .site-page {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#page-header.fixed a,
#page-header.fixed .toggle-menu,
#page-header.fixed #site-name {
  color: #3b3a3a;
  text-shadow: none;
}
#page-header.fixed a:hover,
#page-header.fixed .toggle-menu:hover,
#page-header.fixed #site-name:hover {
  color: #49b1f5;
}
#page-header.visible {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#page-header #site-name {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #site-title {
    font-size: 2rem;
  }
  #site-sub-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  #nav,
  #top-contianer {
    background-attachment: local;
  }
  #page-header {
    padding: 10px 0.8rem;
  }
  #page-header .toggle-menu {
    display: block;
  }
  #page-header .menus {
    position: absolute;
    top: 3rem;
    right: 0.8rem;
    display: none;
    width: 8rem;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.27);
    box-shadow: 0 0 4px rgba(0,0,0,0.27);
  }
  #page-header .menus a {
    display: block;
    margin-left: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    color: #4c4948;
    text-shadow: none;
    font-size: 0.8rem;
  }
  #page-header .menus a:hover {
    color: #49b1f5;
  }
  #page-header .search {
    right: 0.5rem;
  }
  #page-header .search span {
    display: none;
  }
}
.recent-post-item {
  margin: 1.6rem 0 2rem;
}
.recent-post-item .content {
  margin-top: 0.5rem;
}
.recent-post-item .content p {
  word-break: break-word;
}
.recent-post-item .content iframe {
  width: 700px;
  height: 393.75px;
}
.recent-post-item .article-type {
  margin-left: 0.3rem;
  color: #858585;
}
.recent-post-item .article-meta {
  color: #858585;
}
.recent-post-item .article-meta .sticky {
  color: #ff7242;
}
.recent-post-item .article-meta i {
  margin: 0 0.2rem 0 0.3rem;
}
.recent-post-item .article-meta__separator {
  margin-left: 0.3rem;
}
.recent-post-item .article-meta .fa-angle-right,
.recent-post-item .article-meta__link {
  margin: 0 0 0 0.3rem;
}
.recent-post-item time {
  color: #858585;
}
.recent-post-item .more {
  display: inline-block;
  padding: 0 0.6rem;
  height: 1.6rem;
  background: #49b1f5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.recent-post-item .more:hover {
  background: #ff7242;
}
.recent-post-item .article-title {
  display: block;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
  color: #2e2e2e;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.recent-post-item .article-title:hover {
  border-bottom: 1px solid #49b1f5;
  color: #49b1f5;
}
.tag-cloud {
  padding: 4.5rem 0 7rem;
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 0 0.4rem;
  text-decoration: none;
  cursor: pointer;
}
.tag-cloud a:hover {
  color: #ff7242 !important;
}
.tag-cloud__title {
  font-size: 1.8rem;
}
#tag,
#category,
#archive {
  padding: 3rem 0 3rem;
}
.article-sort {
  padding-left: 1rem;
  border-left: 0.1rem solid #a4d8fa;
}
.article-sort-title {
  position: relative;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1;
}
.article-sort-title:hover:before {
  border-color: #ff7242;
}
.article-sort-title:before {
  position: absolute;
  top: 0.25rem;
  left: calc(-0.5rem + 1px);
  z-index: 1;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.25rem solid #49b1f5;
  border-radius: 0.5rem;
  background: #fff;
  content: "";
  line-height: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.article-sort-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 0.1rem;
  height: 1.3rem;
  background: #a4d8fa;
  content: "";
}
.article-sort-item {
  position: relative;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.article-sort-item:hover:before {
  border-color: #ff7242;
}
.article-sort-item:before {
  position: absolute;
  top: 0.48rem;
  left: calc(-1rem - 7px);
  width: 0.3rem;
  height: 0.3rem;
  border: 0.15rem solid #49b1f5;
  border-radius: 0.3rem;
  background: #fff;
  content: "";
  line-height: 0.3rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.article-sort-item.year {
  font-size: 1rem;
}
.article-sort-item.year:hover:before {
  border-color: #49b1f5;
}
.article-sort-item.year:before {
  top: 0.7rem;
  border-color: #ff7242;
}
.article-sort-item__time {
  position: absolute;
  top: 0.1rem;
  color: #99a9bf;
}
.article-sort-item__title {
  display: block;
  margin-left: 5rem;
  color: #4c4948;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.category-lists {
  padding: 3rem 0 3rem;
}
.category-lists .category__title {
  text-align: center;
  font-size: 1.8rem;
}
.category-list a {
  color: #4c4948;
  text-decoration: none;
  cursor: pointer;
}
.category-list .category-list-count {
  margin-left: 0.4rem;
  color: #99a9bf;
}
.category-list .category-list-count:before {
  content: "(";
}
.category-list .category-list-count:after {
  content: ")";
}
.gallery-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0.4rem;
  width: 6rem;
  height: 6rem;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.gallery-item__title {
  position: absolute;
  overflow: hidden;
  padding: 0 0.4rem;
  width: 100%;
  height: 1.5rem;
  background: rgba(0,0,0,0.5);
  color: #a4d8fa;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 6rem, 0);
  -moz-transform: translate3d(0, 6rem, 0);
  -o-transform: translate3d(0, 6rem, 0);
  -ms-transform: translate3d(0, 6rem, 0);
  transform: translate3d(0, 6rem, 0);
}
.gallery-item:hover .gallery-item__title {
  -webkit-transform: translate3d(0, 4.5rem, 0);
  -moz-transform: translate3d(0, 4.5rem, 0);
  -o-transform: translate3d(0, 4.5rem, 0);
  -ms-transform: translate3d(0, 4.5rem, 0);
  transform: translate3d(0, 4.5rem, 0);
}
@media screen and (max-width: 768px) {
  .recent-post-item .article-title {
    font-size: 1rem;
  }
  .recent-post-item .article-meta.tags {
    display: none;
  }
  .gallery-item {
    width: calc(50% - 22px);
    height: 6rem;
  }
  .gallery-item__title {
    -webkit-transform: translate3d(0, 6rem, 0);
    -moz-transform: translate3d(0, 6rem, 0);
    -o-transform: translate3d(0, 6rem, 0);
    -ms-transform: translate3d(0, 6rem, 0);
    transform: translate3d(0, 6rem, 0);
  }
  .gallery-item:hover .gallery-item__title {
    -webkit-transform: translate3d(0, 4.5rem, 0);
    -moz-transform: translate3d(0, 4.5rem, 0);
    -o-transform: translate3d(0, 4.5rem, 0);
    -ms-transform: translate3d(0, 4.5rem, 0);
    transform: translate3d(0, 4.5rem, 0);
  }
}
@media screen and (min-width: 1300px) {
  .gallery-item {
    width: 8rem;
    height: 8rem;
  }
  .gallery-item__title {
    -webkit-transform: translate3d(0, 8rem, 0);
    -moz-transform: translate3d(0, 8rem, 0);
    -o-transform: translate3d(0, 8rem, 0);
    -ms-transform: translate3d(0, 8rem, 0);
    transform: translate3d(0, 8rem, 0);
  }
  .gallery-item:hover .gallery-item__title {
    -webkit-transform: translate3d(0, 6.5rem, 0);
    -moz-transform: translate3d(0, 6.5rem, 0);
    -o-transform: translate3d(0, 6.5rem, 0);
    -ms-transform: translate3d(0, 6.5rem, 0);
    transform: translate3d(0, 6.5rem, 0);
  }
}
#pagination {
  overflow: hidden;
  margin-top: 1rem;
  width: 100%;
}
#pagination .pagination {
  text-align: center;
}
#pagination i.fa.fa-chevron-left {
  margin-right: 0.3rem;
  cursor: pointer;
}
#pagination i.fa.fa-chevron-right {
  margin-left: 0.3rem;
  cursor: pointer;
}
#pagination .space {
  color: #99a9bf;
}
#pagination .page-number {
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  cursor: pointer;
}
#pagination .page-number.current {
  background: #00c4b6;
  color: #fff;
  cursor: default;
}
#post-title {
  font-size: 1.4rem;
}
#post-title.plain {
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#post-title.plain:hover {
  border-bottom: 1px solid #49b1f5;
  color: #49b1f5;
}
#post {
  overflow: hidden;
}
#post-meta {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
}
#post #post-meta {
  color: #858585;
}
#post #post-meta a {
  text-decoration: none;
}
#post #post-meta i.fa.fa-comment-o {
  margin-right: 0.2rem;
}
#top-container {
  position: relative;
  margin-bottom: 1rem;
  background-color: #49b1f5;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#top-container.no-bg {
  background-color: #49b1f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23a4d8fa' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E") !important;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
}
#top-container.plain {
  margin-bottom: 1rem;
  height: 56px;
}
#top-container a {
  color: #eee;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#top-container a:hover {
  color: #fff;
}
#top-container #top-img {
  padding: 0;
  border: none;
}
#top-container #site-name {
  font-weight: bold;
  cursor: pointer;
}
#top-container #post-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 60vh;
  color: #eee;
  text-align: center;
}
#top-container #post-title {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-size: 1.3rem;
}
#top-container i.fa.fa-angle-right {
  margin: 0 0.3rem 0 0.2rem;
}
.post-meta__separator {
  margin: 0 0.3rem;
}
.post-meta__icon {
  margin-right: 0.2rem;
}
.post-meta__tag-list {
  margin-bottom: 0.5rem;
}
.post-meta__tags {
  display: inline-block;
  margin: 0 0.4rem 0.2rem 0;
  padding: 0 0.6rem;
  width: fit-content;
  border: 1px solid #49b1f5;
  border-radius: 0.6rem;
  background: #fff;
  color: #49b1f5;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.post-meta__tags:hover {
  background: #49b1f5;
  color: #fff;
}
.layout {
  margin: 0 auto;
  width: 700px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#content-inner h1,
#content-inner h2,
#content-inner h3,
#content-inner h4,
#content-inner h5,
#content-inner h6 {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#content-inner h1:before,
#content-inner h2:before,
#content-inner h3:before,
#content-inner h4:before,
#content-inner h5:before,
#content-inner h6:before {
  position: absolute;
  top: calc(50% - 0.35rem);
  left: 0;
  color: #f47466;
  content: "\f0c1";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0.8rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#content-inner h1:hover,
#content-inner h2:hover,
#content-inner h3:hover,
#content-inner h4:hover,
#content-inner h5:hover,
#content-inner h6:hover {
  padding-left: 1.1rem;
}
#content-inner h1:hover:before,
#content-inner h2:hover:before,
#content-inner h3:hover:before,
#content-inner h4:hover:before,
#content-inner h5:hover:before,
#content-inner h6:hover:before {
  color: #49b1f5;
}
#content-inner h1 {
  padding-left: 1.1rem;
}
#content-inner h1 code {
  font-size: 1rem;
}
#content-inner h1:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 1rem;
}
#content-inner h1:hover {
  padding-left: 1.2rem;
}
#content-inner h2 {
  padding-left: 1rem;
}
#content-inner h2 code {
  font-size: 0.9rem;
}
#content-inner h2:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 0.9rem;
}
#content-inner h2:hover {
  padding-left: 1.1rem;
}
#content-inner h3 {
  padding-left: 0.9rem;
}
#content-inner h3 code {
  font-size: 0.8rem;
}
#content-inner h3:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 0.8rem;
}
#content-inner h3:hover {
  padding-left: 1rem;
}
#content-inner h4 {
  padding-left: 0.8rem;
}
#content-inner h4 code {
  font-size: 0.7rem;
}
#content-inner h4:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 0.7rem;
}
#content-inner h4:hover {
  padding-left: 0.9rem;
}
#content-inner h5 {
  padding-left: 0.7rem;
}
#content-inner h5 code {
  font-size: 0.6rem;
}
#content-inner h5:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 0.6rem;
}
#content-inner h5:hover {
  padding-left: 0.8rem;
}
#content-inner h6 {
  padding-left: 0.7rem;
}
#content-inner h6 code {
  font-size: 0.6rem;
}
#content-inner h6:before {
  top: calc(50% - unit(fontsize / 2 - 0.05, "rem"));
  font-size: 0.6rem;
}
#content-inner h6:hover {
  padding-left: 0.8rem;
}
#content-inner ol,
#content-inner ul {
  margin-top: 0.4rem;
  padding: 0 0 0 0.8rem;
  list-style: none;
  counter-reset: li;
}
#content-inner ol p,
#content-inner ul p {
  margin: 0;
}
#content-inner ol ol,
#content-inner ul ol,
#content-inner ol ul,
#content-inner ul ul {
  padding-left: 0.5rem;
}
#content-inner ol li,
#content-inner ul li {
  position: relative;
  margin: 0.2rem 0;
  padding: 0.1rem 0.5rem 0.1rem 1.5rem;
}
#content-inner ol li:hover:before,
#content-inner ul li:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#content-inner ol li:before,
#content-inner ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  background: #49b1f5;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#content-inner ol > li:before {
  margin-top: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  content: counter(li);
  counter-increment: li;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.2rem;
}
#content-inner ul > li:hover:before {
  border-color: #ff7242;
}
#content-inner ul > li:before {
  top: 10px;
  margin-left: 0.45rem;
  width: 0.3rem;
  height: 0.3rem;
  border: 0.15rem solid #49b1f5;
  border-radius: 0.3rem;
  background: #fff;
  content: "";
  line-height: 0.3rem;
}
#post-content {
  margin-bottom: 1rem;
}
a {
  color: #99a9bf;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #49b1f5;
  text-decoration: none;
}
a#site-name {
  color: #eee;
  text-decoration: none;
}
a.fancybox {
  outline: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
a.fancybox:focus {
  outline: none;
}
.content img,
#post img,
#sidebar img {
  padding: 4px;
  max-width: 100%;
  border: 1px solid #eaeefb;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.content img:hover,
#post img:hover,
#sidebar img:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
  box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
}
.code-area-wrap {
  position: relative;
}
.code-area-wrap .codeblock-language {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 0 0.7rem;
  color: #90a4ae;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.fa-clipboard {
  position: absolute;
  top: 0.4rem;
  right: 10px;
  z-index: 1;
  color: #39adb5;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.fa-clipboard:hover {
  color: #2e8a91;
}
.copy-notice {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #e6ebf1;
  color: #39adb5;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.post-copyright {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #eee;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.post-copyright:before {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.8rem;
  background: #49b1f5;
  content: "";
}
.post-copyright:after {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background: #fff;
  content: "";
}
.post-copyright:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
  box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
}
.post-copyright-meta {
  color: #49b1f5;
  font-weight: bold;
}
.post-copyright-info a {
  word-break: break-word;
}
.post-qr-code {
  text-align: center;
}
.post-qr-code-item {
  display: inline-block;
  margin-bottom: 0.8rem;
}
.post-qr-code img {
  margin: 0 1rem 0.1rem 1rem;
  width: 10rem;
  height: 10rem;
}
.post-qr-code__desc {
  color: #858585;
}
.post-adv {
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .layout {
    margin: 0 30px;
    width: auto;
  }
  .recent-post-item .content iframe {
    width: 100%;
    height: 177px;
  }
  .post-qr-code img {
    width: 6rem;
    height: 6rem;
  }
  #top-container {
    background-attachment: local;
  }
  #top-container #post-title {
    color: #eee;
    font-size: 1.1rem;
  }
  #post-title {
    color: #eee;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  #top-container #post-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1300px) {
  .layout {
    width: 900px;
  }
  .recent-post-item .content iframe {
    width: 900px;
    height: 506.25px;
  }
}
.katex-wrap {
  overflow: auto;
}
.katex-wrap::-webkit-scrollbar {
  display: none;
}
#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 10;
  overflow-y: auto;
  padding: 1rem 0 2rem 0.5rem;
  width: 300px;
  height: 100%;
  background: #f6f8fa;
  -webkit-box-shadow: -0.25rem 0 0.25rem rgba(232,237,250,0.6) inset;
  box-shadow: -0.25rem 0 0.25rem rgba(232,237,250,0.6) inset;
}
#sidebar hr {
  margin: 1rem 0;
  width: calc(100% - 0.25rem);
}
#sidebar .toggle-sidebar-info {
  padding-right: 0.5rem;
}
#sidebar .toggle-sidebar-info span {
  display: inline-block;
  padding: 0 0.6rem;
  height: 1.6rem;
  background: #49b1f5;
  color: #fff;
  line-height: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#sidebar .toggle-sidebar-info span:hover {
  background: #00c4b6;
}
#sidebar .author-info {
  margin-left: -0.25rem;
  padding: 0.5rem;
  width: 100%;
}
#sidebar .author-info .follow-button {
  text-align: center;
}
#sidebar .author-info .follow-button a {
  display: inline-block;
  margin-top: 0.2rem;
  padding: 0 1rem;
  height: 1.6rem;
  background: #49b1f5;
  color: #fff;
  text-decoration: none;
  line-height: 1.6rem;
}
#sidebar .author-info .follow-button a:hover {
  background: #ff7242;
}
#sidebar .author-info.hide {
  display: none;
}
#sidebar .author-info__avatar {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}
#sidebar .author-info__name {
  font-size: 0.8rem;
}
#sidebar .author-info__description {
  color: #99a9bf;
}
#sidebar .author-info-articles {
  padding: 0.2rem 0;
}
#sidebar .author-info-articles .article-meta {
  display: block;
  overflow: hidden;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.4rem;
  height: 1.8rem;
  background: #49b1f5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#sidebar .author-info-articles .article-meta .pull-right {
  position: relative;
  margin: -0.2rem -0.4rem;
  width: 2.5rem;
  height: 1.8rem;
  background: #fff;
  color: #49b1f5;
  text-align: center;
  line-height: 1.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#sidebar .author-info-articles .article-meta .pull-right:before {
  position: absolute;
  top: 0;
  left: -0.8rem;
  width: 0;
  height: 0;
  border-top: 0.9rem solid transparent;
  border-right: 0.8rem solid #fff;
  border-bottom: 0.9rem solid transparent;
  content: "";
}
#sidebar .author-info-articles .article-meta:hover {
  background: #00ddcd;
}
#sidebar .author-info-articles .article-meta:hover .pull-right {
  color: #00c4b6;
}
#sidebar .author-info-links__title {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
#sidebar .author-info-links__name {
  position: relative;
  float: left;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0 0.4rem 0 0.8rem;
  height: 1.3rem;
  background: #49b1f5;
  color: #fff;
  text-decoration: none;
  line-height: 1.3rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#sidebar .author-info-links__name:hover {
  background: #ff7242;
}
#sidebar .author-info-links__name:before {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  margin-top: -0.15rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  background: #fff;
  content: "";
}
#sidebar .sidebar-toc ol,
#sidebar .sidebar-toc li {
  list-style: none;
}
#sidebar .sidebar-toc ol {
  margin-top: 0.2rem;
  padding-left: 0.4rem;
}
#sidebar .sidebar-toc__title {
  padding-right: 0.5rem;
  text-align: center;
  font-size: 18px;
}
#sidebar .sidebar-toc .toc-link {
  display: block;
  padding-left: 0.2rem;
  border-right: 3px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#sidebar .sidebar-toc .toc-link.active {
  border-right-color: #009d92;
  background: #00c4b6;
  color: #fff;
}
#sidebar .sidebar-toc__progress {
  position: relative;
  margin-top: -0.3rem;
  padding-left: 0.6rem;
  color: #00c4b6;
}
#sidebar .sidebar-toc__progress .progress-notice {
  margin-right: 0.4rem;
}
#sidebar .sidebar-toc__progress .progress-num {
  display: inline-block;
  min-width: 0.9rem;
}
#sidebar .sidebar-toc__progress-bar {
  width: 0;
  height: 1px;
  background: #00c4b6;
}
.search-dialog {
  position: fixed;
  top: 5rem;
  left: 50%;
  z-index: 1001;
  display: none;
  margin-left: -15rem;
  padding: 1rem;
  width: 30rem;
  background: #fff;
}
.search-dialog hr {
  margin: 1rem auto;
}
.search-dialog span.search-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #858585;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.search-dialog span.search-close-button:hover {
  color: #49b1f5;
}
.search-dialog__title {
  padding: 0 0 0.7rem;
  color: #49b1f5;
  font-size: 1rem;
  line-height: 1;
}
.search-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background: rgba(0,0,0,0.6);
}
@media screen and (max-width: 768px) {
  .search-dialog {
    margin-left: -45%;
    width: 90%;
  }
}
#local-search .local-search-box {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
#local-search .local-search-box input {
  padding: 0.25rem 0.7rem;
  width: 100%;
  outline: none;
  border: 2px solid #49b1f5;
  border-radius: 2rem;
  font-size: 14px;
}
#local-search .local-search__hit-item {
  position: relative;
  padding-left: 1.5rem;
}
#local-search .local-search__hit-item:hover:before {
  border-color: #ff7242;
}
#local-search .local-search__hit-item:before {
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 0.3rem;
  height: 0.3rem;
  border: 0.15rem solid #49b1f5;
  border-radius: 0.3rem;
  background: #fff;
  content: "";
  line-height: 0.3rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#local-search .local-search__hit-item a {
  display: block;
  color: #4c4948;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
#local-search .local-search__hit-item a:hover {
  color: #49b1f5;
}
#local-search .local-search-stats__hr {
  display: none;
}
#local-search .search-result-list {
  overflow-y: auto;
  max-height: 10.5rem;
}
